{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/trash/trash-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="trash-container">
  <div class="trash-img">
    <img 
    src="{% static 'images/trash9.jpg' %}" 
    alt="A Trash Can full of trash"
    >
  </div>
  <div class="trash-details">
    <h1>{{ trash.name }}</h1>
    {% if trash.age > 0 %}
      <h2>{{ trash.age }} was picked up {{ trash.type }}</h2>
    {% else %}
      <h2>Thrown away {{ trash.type }} trash.</h2>
    {% endif %}
    <p>{{ trash.description }}</p>
    <div class="trash-actions"></div>
    <a href="{% url 'trash-update' trashed.id %}" class="btn warn">Edit</a>
    <a href="{% url 'trash-delete' trashed.id %}" class="btn danger">Delete</a>
  </div>
</section>

{% endblock %}