{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/trash/trash-index.css' %}"
/>
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>Trash List</h1>
  <img src="{% static 'images/Trash 2.jpg' %}" alt="Empty soda can" />
  <img src="{% static 'images/Trash 3.jpg' %}" alt="Plastic bag" />
  <img src="{% static 'images/trash 4.jpg' %}" alt="A empty water bottle" />
  <img src="{% static 'images/trash 5.jpg' %}" alt="A banna peel" />
</section>

<section class="card-container">
  {% for trash in trash %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/trash 6.jpg' %}" 
            alt="A balled up peice of paper"
          >
        </div>
        <h2 class="card-title">{{ trash.name }}</h2>
        {% if trash.age > 0 %}
          <p>A {{ trash.age }} Was picked up {{ trash.type }}</p>
        {% else %}
          <p>A {{ trash.type }} kitten.</p>
        {% endif %}
        <p><small>{{ trash.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}